{% load static %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
    <a href="{% url 'landingpage:landingpage' %}" class="navbar-left" > <img src="{% static 'img/logo.png'%}" width="130px" height="55px"> </a>
  </div>
  <form class="navbar-form navbar-left">
      <div class="input-group">
          <input type = 'text' class="form-control" name = 'q' value = "{{request.GET.q}}" placeholder = "search">
		  
          <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-search">Search</i>
          </button>
        </div>
      </div>
  </form>
	
		 {% if request.user.is_authenticated %}
			<ul class="nav navbar-nav navbar-right">	
		    <li><a href="/account/profile"><span class="glyphicon glyphicon-user"></span><b><big>{{request.user.username}}</big></b></a></li>
			<li><a href="/account/add_product"><span class="glyphicon glyphicon-plus"></span><b>Add Products</b></a></li>
			<li><a href="{% url 'account:logout'%}"><span class="glyphicon glyphicon-log-out"></span><b>Logout</b></a></li>
			</ul>
         {% else %}
			<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url 'account:login'%}"><span class="glyphicon glyphicon-log-in"></span><b>Sign In</b></a></li>
			<li><a href="{% url 'account:custreg'%}"><span class="glyphicon glyphicon-user"><b>Register</b></a></li>
			</ul>
         {% endif %}
     
  </div>
</nav>