{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
	{{query}}
{% endblock %}

{% block content %}


<div class="container-fluid">
	
	</form>

   
      <div class="row" style="padding-top: 4%; padding-left: 6%">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
              <div class="row">
					{%if categories_count == 0 %}
					<p style= "padding-left: 10px"><small><em><b>Sorry, No results Found! Try: engine, engine oil.</b></em> </small></p>
					{%else%}
					<p style= "padding-left: 10px" ><small><em><b> {{categories_count}} Results found:</b></em> </small></p>
					{%endif%}
                  {% for product in products %}
                      <div class="col-md-8">
                        <div>
                           <!-- <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                            </a>-->
                            <div class="list-group">
                                <h2 class="text-left">
                                    <a href="{{ product.category.get_absolute_url }}"><b>{{ product.category }}</b></a>
                                </h2>
                                <h3><p class ="text-left"><a href="{{ product.get_absolute_url }}"><b>{{ product.name }}</b></a></p></h3>
                                <p class ="text-left"><a href="{{product.get_absolute_url}}"><em>{{product.category.url}}</em></a></p>
								<p class ="text-left" style="padding-bottom: 0px;;" >{{product.description}}</p>
								<a class= "text-left" href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." href = "account:product_detail" style="height: 80px; width: auto">
                            </a><br>
								<a class ="text-left"><a href="#"><b> Rating:{{product.category.rating}}/5</b> </a> 
								<a class="space"><b> $ {{ product.price }}</b></a>
								
								{% if request.user.is_authenticated %}
								<a href="#" data-toggle="modal" data-target="#myModal" class="space"><b> ✉ Message <!--$ {{ product.message }}--></b></a>
								  <div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog modal-lg">
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">&times;</button>
										  <h4 class="modal-title">✉ Message</h4>
										</div>
										<div class="modal-body">
										<form method="post">
											<textarea rows="4" cols="100" name="message" placeholder="Write your message here">Hi,
											</textarea>
                                        </form>
										</div>
										<div class="modal-footer">
										  <a href="#" class="btn btn-default" type="submit"data-dismiss="modal">Send</a>
										  </form>
										</div>
									  </div>
									</div>
								  </div>
							
								{% else %}
								<a href="#" data-toggle="modal" data-target="#myModal" class="space"><b>✉ Message <!--$ {{ product.message }}--></b></p>
								  <div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">
									
									  <!-- Modal content-->
									  <div class="modal-content">
										<div class="modal-header">
										  <h4 class="modal-title">Selcouth account required</h4>
										</div>
										<div class="modal-body">
										  <p>You need to sign-in to send a message.</p>
										</div>
										<div class="modal-footer">
										<a href="{% url 'account:login'%}" class="btn btn-default">Log-in</a>
										<a href="{% url 'account:custreg'%}" class="btn btn-default">register</a>
										</div>
									  </div>
									  
									</div>
								  </div>
								 
								{% endif %}
								<hr>
								    <!--{% endfor %}-->
					<!--{%if categories%}
					
					<h2><a>Companies lists:</a></H2><br><br>
				    {% for category in categories %}
                      <div class="col-md-8">
                        <div class="list">
                            <div class="list-group">
                                <h3 class="text-left">
                                    <a href="{{ product.get_absolute_url }}">{{ category.name }}</a>
                                </h3>
                                <a href="<p class="text-left">{{ category.url }}</a></p>
                            </div>
                        </div>
                      </div>
                  {% endfor %}
				  {%endif%}
			  </div>
			  </div>
				
-->
          </div><!-- /.blog-post -->
			
                  </a>
        </div><!-- /.blog-main-->

        <!--<div class="col-sm-3 col-sm-offset-1 blog-sidebar" style="padding:0px; margin: 20px;">
		<div class="thumbnail" style="border="5px;">
          <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
              <li {% if not category %} class="active"{% endif %}><a href="{% url 'shop:product_list' %}">All</a></li>
            {% for c in categories %}

              <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
            </ol>
          </div>
        </div>--><!-- /.blog-sidebar -->

      </div><!-- /.row -->
	  
	  </div>

    </div><!-- /.container -->

{% endblock %}