{% extends 'base.html' %}
{% load staticfiles %}
{%block title%}Add product page{% endblock %}


{% block body %}
    <div class="container">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <a href = "/"><img src="{% static  'account/img/logo.png'%}"></a>
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Add product</h4>
                            <div class="form-group">
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li>
                                        <div class="alert alert-success alert-dismissable">{{ message }}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                <!--<label for="name">Name</label>
								<input id="name" type="text" class="form-control" name="user"  placeholder="Enter name of product:" value="">-->
                                {{ form.name}}
                                {{ form.name.errors }}
                            </div>

                            <div class="form-group">
                                <!--<label for="email">slug</label>
								<input id="slug" type="text" class="form-control" name="user"  placeholder="Enter the slug of the product:" value="">-->
                                {{ form.slug}}
                                {{ form.slug.errors }}
                            </div>

                            <div class="form-group">
                               <!-- <label for="First-Name">Description</label>
								<input id="description" type="text" class="form-control" name="user"  placeholder="Enter the description of the product:" value="">-->
                              {{ form.description}}
                            </div>

                            <div class="form-group">
                                <!--<label for="lastname">price</label>
								<input id="price" type="number" class="form-control" name="user"  placeholder="Enter price of the product:" value="">-->
                                {{ form.price}}
                            </div>

                           <!-- <div class="form-group">
							<label for="subscribeNews">Available?</label>
                               <input type="checkbox" id="available" name="available" value="available">

                                {{ form.available}}
                            </div>-->
							  <div class="form-group">
                                <!--<label for="password">stock</label>
								<input id="stock" type="number" class="form-control" name="user"  placeholder="Enter stock of the product:" value="">-->
                                {{ form.stock}}
                            </div>
							  <!--<div class="form-group">
                                <label for="password">Created_at</label>
								<input id="created_at" type="date">
                                {{ form.created_at}}
                            </div>

                            <div class="form-group">
                                <label for="password">Updated_at</label>
								<input id="updated_at" type="date">
                                {{ form.updated_at}}
                                {{ form.updated_at.errors }}
                            </div>-->
                            <div>
                            <button class="btn btn-primary btn-block"  type="submit">Submit</button>
                            </div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <script src="{% static 'account/js/jquery.min.js'%}"></script>
    <script src="{% static 'account/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'account/js/my-login.js'%}"></script>
    </div>
{% endblock %}

