{% extends 'base.html' %}
{% load static %}

{% block body %}
	{% include 'navbar.html' %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
            <h4 class="w3-center"><b>{{request.user.username}}</b></h4>
         <p class="w3-center"><img src="{% static  'account/img/avatar.png'%}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Dealer, Engine</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Kathmandu, Nepal </p>
         <p><i class="fa fa-star fa-fw w3-margin-right w3-text-theme"></i> Rating:- 4/5</p>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> New Connections</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>No New Connections</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>6/28/2018:- Selcouth Meeting</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-line-chart fa-fw w3-margin-right"></i> Profile Analytics </button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="{% static  'account/img/business.png'%}" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="{% static  'account/img/export.png'%}" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="{% static  'account/img/performance.png'%}" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="{% static  'account/img/visitors.png'%}" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="" style="width:100%" class="w3-margin-bottom">
           </div>
         </div>
          </div>
        </div>      
      </div>
      <br>


    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    <center>
    <h1 style="color: #08359F">My Product Status</h1>
    </center>
        {% for k in mixtures %}
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity"> {{k.date}} </span>
          <h4>{{k.name}}</h4>
        <hr class="w3-clear">
        <p>{{k.description}}</p>
      <p>
          <a href="#"><b>$ {{k.price}}</b></a>
          <a href="#" style="padding-left: 80px"><b><i class="fa fa-star"> 4{{k.rating}}/5</i></b></a>
          <a href="#" style="padding-left: 80px"><b><b>Qty: {{ k.stock }}</b></b></a>
      </p>
      </div>
        {% endfor %}
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="{% static  'account/img/logo.png'%}" alt="Forest" style="width:100%;">
          <p><strong>Meeting</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Connection Request</p>
          <img src="{% static  'account/img/avatar.png'%}" alt="Avatar" style="width:50%"><br>
          <span>Dummy User</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>

        <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
            <a href="#"><i class="fa fa-envelope-open w3-xxlarge"></i></a>
        </div>
        <br>

        <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Ads</strong></p>
        <p>This is ad section. you can close this section by clicking the cross button</p>
      </div>
      <br>
      

      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html> 

	
	
{% endblock %}